<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.momentum.retention.prospect.query.mapper.RetentionRoundMapper">

    <!-- 회차 목록 조회 -->
    <select id="findRetentionRounds" resultType="com.dao.momentum.retention.prospect.query.dto.request.RetentionRoundRawDto">
        SELECT
            r.round_id AS roundId,
            r.round_no AS roundNo,
            r.year,
            r.month,
            CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01') AS startDate,
            LAST_DAY(CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01')) AS endDate,
            (
                SELECT COUNT(DISTINCT rs.emp_id)
                FROM retention_support rs
                WHERE rs.round_id = r.round_id
            ) AS participantCount
        FROM
        retention_round r
        <where>
            <if test="req.status != null">
                AND (
                CASE
                    WHEN CURRENT_DATE &lt; CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01') THEN 'PLANNED'
                    WHEN CURRENT_DATE BETWEEN CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01')
                    AND LAST_DAY(CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01')) THEN 'IN_PROGRESS'
                    ELSE 'COMPLETED'
                END = #{req.status}
                )
            </if>
            <if test="req.startDate != null">
                AND CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01') &gt;= #{req.startDate}
            </if>
            <if test="req.endDate != null">
                AND LAST_DAY(CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01')) &lt;= #{req.endDate}
            </if>
        </where>
        GROUP BY r.round_id, r.round_no, r.year, r.month
        ORDER BY r.round_no DESC
        LIMIT #{req.size} OFFSET #{req.getOffset}
    </select>

    <!-- 회차 총 개수 조회 -->
    <select id="countRetentionRounds" resultType="long">
        SELECT COUNT(*)
        FROM retention_round r
        <where>
            <if test="req.status != null">
                AND (
                CASE
                    WHEN CURRENT_DATE &lt; CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01') THEN 'PLANNED'
                    WHEN CURRENT_DATE BETWEEN CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01')
                    AND LAST_DAY(CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01')) THEN 'IN_PROGRESS'
                    ELSE 'COMPLETED'
                END = #{req.status}
                )
            </if>
            <if test="req.startDate != null">
                AND CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01') &gt;= #{req.startDate}
            </if>
            <if test="req.endDate != null">
                AND LAST_DAY(CONCAT(r.year, '-', LPAD(r.month, 2, '0'), '-01')) &lt;= #{req.endDate}
            </if>
        </where>
    </select>

</mapper>
