<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.momentum.organization.company.query.mapper.CompanyMapper">

    <select id="getCompanyInfo" resultType="com.dao.momentum.organization.company.query.dto.response.CompanyInfoDTO">
        SELECT  company_id,
                name,
                chairman,
                address,
                contact,
                business_registration_number,
                email,
                payment_day,
                establish_date,
                work_start_time,
                (SELECT COUNT(*) FROM EMPLOYEE e WHERE e.status != 'RESIGNED') AS employeeCount,
                TIMESTAMPDIFF(YEAR, c.establish_date, NOW())+1 AS foundedYears,
                (SELECT COUNT(*) FROM DEPARTMENT d WHERE d.is_deleted = 'N')
        FROM company c
        LIMIT 1;
    </select>

</mapper>
