<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.momentum.organization.contract.query.mapper.ContractMapper">
    <select id="getContracts" resultType="com.dao.momentum.organization.contract.query.dto.response.AdminContractDTO">
        SELECT
            con.contract_id,
            con.emp_id,
            emp.emp_no,
            emp.name AS empName,
            con.type,
            con.salary,
            con.created_at,
            file.attachment_id,
            file.s3_url
        FROM contract AS con
        JOIN employee AS emp ON con.emp_id = emp.emp_id
        JOIN file AS file ON con.contract_id = file.contract_id
        WHERE 1 = 1
        <if test="request.empNo != null">
            AND emp.emp_no = #{request.empNo}
        </if>
        <if test="request.empName != null">
            AND emp.name = #{request.empName}
        </if>
        <if test="request.type != null and request.type.name() != ''">
            AND con.type = #{request.type}
        </if>
        <if test="request.searchStartDate != null">
            AND con.created_at &gt;= #{request.searchStartDate}
        </if>
        <if test="request.searchEndDate != null">
            AND con.created_at &lt; #{request.searchEndDate}
        </if>
            ORDER BY con.created_at
        <if test="request.order == null or request.order.name() == 'DESC'">
            DESC
        </if>
        LIMIT #{request.limit} OFFSET #{request.offset}
    </select>

    <select id="countContracts" resultType="java.lang.Long">
        SELECT
            COUNT(con.contract_id)
        FROM contract AS con
        JOIN employee AS emp ON con.emp_id = emp.emp_id
        JOIN file AS file ON con.contract_id = file.contract_id
        WHERE 1 = 1
        <if test="request.empNo != null">
            AND emp.emp_no = #{request.empNo}
        </if>
        <if test="request.empName != null">
            AND emp.name = #{request.empName}
        </if>
        <if test="request.type != null and request.type.name() != ''">
            AND con.type = #{request.type}
        </if>
        <if test="request.searchStartDate != null">
            AND con.created_at &gt;= #{request.searchStartDate}
        </if>
        <if test="request.searchEndDate != null">
            AND con.created_at &lt; #{request.searchEndDate}
        </if>
    </select>

    <select id="getMyContracts" resultType="com.dao.momentum.organization.contract.query.dto.response.ContractDTO">
        SELECT
            con.contract_id,
            con.emp_id,
            con.type,
            con.salary,
            con.created_at,
            file.attachment_id,
            file.s3_url
        FROM contract AS con
        JOIN employee AS emp ON con.emp_id = emp.emp_id
        JOIN file AS file ON con.contract_id = file.contract_id
        WHERE con.emp_id = #{empId}
        <if test="request.type != null and request.type.name() != ''">
            AND con.type = #{request.type}
        </if>
        ORDER BY con.created_at DESC
        LIMIT #{request.limit} OFFSET #{request.offset}
    </select>

    <select id="countMyContracts" resultType="java.lang.Long">
        SELECT
            COUNT(con.contract_id)
        FROM contract AS con
        JOIN employee AS emp ON con.emp_id = emp.emp_id
        JOIN file AS file ON con.contract_id = file.contract_id
        WHERE con.emp_id = #{empId}
        <if test="request.type != null and request.type.name() != ''">
            AND con.type = #{request.type}
        </if>
    </select>
</mapper>
