<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.momentum.organization.employee.query.mapper.EmployeeMapper">
    <select id="getEmployeeByDeptId" resultType="com.dao.momentum.organization.employee.query.dto.response.DepartmentMemberDTO">
        SELECT
                e.emp_id,
                e.name,
                e.email,
                e.contact,
                p.name AS position,
                CASE
                WHEN dh.emp_id IS NOT NULL THEN TRUE
                ELSE FALSE
                END AS isDeptHead
        FROM
                employee e
        JOIN
                position p ON e.position_id = p.position_id
        LEFT JOIN
                dept_head dh ON e.emp_id = dh.emp_id AND dh.dept_id = e.dept_id
        WHERE
                e.dept_id = #{deptId}
        AND
                p.is_deleted = 'N'
    </select>

</mapper>