<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.momentum.announcement.query.mapper.AnnouncementQueryMapper">

    <!-- 공지사항 상세조회 -->
    <select id="findAnnouncement" resultMap="AnnouncementDetailResultMap">
        SELECT
        a.announcement_id,
        a.emp_id,
        e.name AS employee_name,
        e.dept_id,
        d.name AS department_name,
        p.name AS position_name,
        a.title,
        a.content,
        a.created_at,
        a.updated_at
        FROM announcement a
        JOIN employee e ON a.emp_id = e.emp_id
        JOIN department d ON e.dept_id = d.dept_id
        JOIN `position` p ON e.position_id = p.position_id
        WHERE a.announcement_id = #{announcementId}
        AND a.is_deleted = 'N'
    </select>

    <!-- 공지사항 : 첨부파일 리스트 1:N 매핑을 위한 resultMap -->
    <resultMap id="AnnouncementDetailResultMap" type="com.dao.momentum.announcement.query.dto.response.AnnouncementDetailDto">
        <!-- PK -->
        <id property="announcementId" column="announcement_id"/>

        <!-- 단일 값 매핑 -->
        <result property="empId" column="emp_id"/>
        <result property="employeeName" column="employee_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="positionName" column="position_name"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <!-- 파일 URL 목록 수집 -->
        <collection property="attachments" ofType="com.dao.momentum.file.command.application.dto.response.AttachmentDto"
                    javaType="java.util.List" select="findAttachmentsByAnnouncementId" column="announcement_id"/>
    </resultMap>

    <!-- collection 태그의 column 속성은 단일 값 매핑처럼 컬럼의 값을 직접 가져오는 것이 아니라, 그룹핑 기준 또는 하위 쿼리의 파라미터 역할 -->
    <select id="findAttachmentsByAnnouncementId" resultType="com.dao.momentum.file.command.application.dto.response.AttachmentDto">
        SELECT
        f.s3_key AS url,
        f.name   AS name
        FROM file f
        WHERE f.announcement_id = #{announcementId}
    </select>

    <!-- 게시글 목록 검색 -->
    <select id="findAnnouncementsByCondition" resultType="com.dao.momentum.announcement.query.dto.response.AnnouncementDto">
        WITH RECURSIVE dept_tree AS (
        SELECT dept_id
        FROM department
        WHERE dept_id = #{deptId}
        AND is_deleted = 'N'
        UNION ALL
        SELECT d.dept_id
        FROM department d
        INNER JOIN dept_tree dt ON d.parent_dept_id = dt.dept_id
        WHERE d.is_deleted = 'N'
        )
        SELECT a.announcement_id,
        a.title,
        e.name,
        a.created_at
        FROM announcement a
        JOIN employee e ON a.emp_id = e.emp_id
        <where>
            a.is_deleted = 'N'

            <if test="title != null and title != ''">
                AND a.title LIKE CONCAT('%', #{title}, '%')
            </if>

            <if test="name != null and name != ''">
                AND e.name LIKE CONCAT('%', #{name}, '%')
            </if>

            <if test="deptId != null">
                AND e.dept_id IN (SELECT dept_id FROM dept_tree)
            </if>

            <if test="startDate != null">
                AND a.created_at &gt;= #{startDate}
            </if>

            <if test="endDate != null">
                AND a.created_at &lt;= #{endDate}
            </if>
        </where>
        ORDER BY a.created_at ${sortDirection}
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <!-- 게시글 목록 수 카운트 -->
    <select id="countAnnouncementsByCondition" resultType="long">
        WITH RECURSIVE dept_tree AS (
        SELECT dept_id
        FROM department
        WHERE dept_id = #{deptId}
        AND is_deleted = 'N'
        UNION ALL
        SELECT d.dept_id
        FROM department d
        INNER JOIN dept_tree dt ON d.parent_dept_id = dt.dept_id
        WHERE d.is_deleted = 'N'
        )
        SELECT COUNT(*)
        FROM announcement a
        JOIN employee e ON a.emp_id = e.emp_id
        <where>
            a.is_deleted = 'N'

            <if test="title != null and title != ''">
                AND a.title LIKE CONCAT('%', #{title}, '%')
            </if>

            <if test="name != null and name != ''">
                AND e.name LIKE CONCAT('%', #{name}, '%')
            </if>

            <if test="deptId != null">
                AND e.dept_id IN (SELECT dept_id FROM dept_tree)
            </if>

            <if test="startDate != null">
                AND a.created_at &gt;= #{startDate}
            </if>

            <if test="endDate != null">
                AND a.created_at &lt;= #{endDate}
            </if>
        </where>
    </select>
</mapper>
