<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.momentum.approve.query.mapper.DraftApproveMapper">

    <select id="findDraftApproval" resultType="com.dao.momentum.approve.query.dto.DraftApproveDTO">
        SELECT
            a.approve_id,
            a.parent_approve_id,
            s.status_type,
            a.approve_title,
            a.approve_type,
            a.create_at,
            a.complete_at
        FROM approve a
        LEFT JOIN approve aa ON a.parent_approve_id = aa.approve_id
        JOIN status s ON a.status_id = s.status_id

        WHERE a.emp_id = #{empId}

        <!-- 탭 조건 -->
        <if test="req.tab == 'ATTENDANCE'">
            AND a.approve_type IN ('WORKCORRECTION', 'OVERTIME', 'REMOTEWORK', 'BUSINESSTRIP', 'VACATION')
            <!-- 근태 관련된 상세 필터 -->
            <if test="req.approveType != null and req.approveType != ''">
                AND a.approve_type = #{req.approveType}
            </if>
        </if>
        <if test="req.tab == 'PROPOSAL'">
            AND a.approve_type = 'PROPOSAL'
        </if>
        <if test="req.tab == 'RECEIPT'">
            AND a.approve_type = 'RECEIPT'
            <if test="req.receiptType != null and req.receiptType != ''">
                AND (SELECT ar.receipt_type FROM approve_receipt ar WHERE ar.approve_id = a.approve_id) = #{req.receiptType}
            </if>
        </if>
        <if test="req.tab == 'CANCEL'">
            AND a.approve_type = 'CANCEL'
        </if>

        <!-- 상태  -->
        <if test="req.status != null">
            AND a.status_id = #{req.status}
        </if>

        <!-- 제목 -->
        <if test="req.title != null and req.title != ''">
            AND a.approve_title LIKE CONCAT('%', #{req.title}, '%')
        </if>

        <if test="req.startDate != null and req.endDate != null">
            AND a.create_at BETWEEN #{req.startDate} AND #{req.endDate}
        </if>
        <if test="req.startDate != null and req.endDate == null">
            AND a.create_at &gt; #{req.startDate}
        </if>
        <if test="req.startDate == null and req.endDate != null">
            AND a.create_at &lt; #{req.endDate}
        </if>

        ORDER BY
        <!-- 완료 날짜를 기준으로 정렬 -->
        <choose>
            <when test="req.sort == 'asc'">a.complete_at ASC</when>
            <when test="req.sort == 'desc'">a.complete_at DESC</when>
            <otherwise>a.complete_at ASC</otherwise>
        </choose>
        , a.approve_id

        LIMIT #{pageRequest.limit} OFFSET #{pageRequest.offset}
    </select>

    <!-- 받은 문서의 개수를 구하는 메서드 -->
    <select id="countDraftApproval" resultType="long">
        SELECT COUNT(*)
        FROM approve a
        LEFT JOIN approve aa ON a.parent_approve_id = aa.approve_id
        JOIN status s ON a.status_id = s.status_id

        WHERE a.emp_id = #{empId}
        <if test="req.tab == 'ATTENDANCE'">
            AND a.approve_type IN ('WORKCORRECTION', 'OVERTIME', 'REMOTEWORK', 'BUSINESSTRIP', 'VACATION')
            <if test="req.approveType != null and req.approveType != ''">
                AND a.approve_type = #{req.approveType}
            </if>
        </if>
        <if test="req.tab == 'PROPOSAL'">
            AND a.approve_type = 'PROPOSAL'
        </if>
        <if test="req.tab == 'RECEIPT'">
            AND a.approve_type = 'RECEIPT'
            <if test="req.receiptType != null and req.receiptType != ''">
                AND (SELECT ar.receipt_type FROM approve_receipt ar WHERE ar.approve_id = a.approve_id) = #{req.receiptType}
            </if>
        </if>
        <if test="req.tab == 'CANCEL'">
            AND a.approve_type = 'CANCEL'
        </if>

        <if test="req.status != null">
            AND a.status_id = #{req.status}
        </if>

        <if test="req.title != null and req.title != ''">
            AND a.approve_title LIKE CONCAT('%', #{req.title}, '%')
        </if>

        <if test="req.startDate != null and req.endDate != null">
            AND a.create_at BETWEEN #{req.startDate} AND #{req.endDate}
        </if>
        <if test="req.startDate != null and req.endDate == null">
            AND a.create_at &gt; #{req.startDate}
        </if>
        <if test="req.startDate == null and req.endDate != null">
            AND a.create_at &lt; #{req.endDate}
        </if>

    </select>

    <!-- 존재하는 회원인지 확인하기 위한 코드 -->
    <select id="existsByEmpId" resultType="boolean">
        SELECT CASE WHEN EXISTS (
            SELECT 1
            FROM employee
            WHERE emp_id = #{empId}
        ) THEN TRUE ELSE FALSE END
    </select>

</mapper>