<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.momentum.work.query.mapper.WorkMapper">
    <select id="getMyWorks" resultType="com.dao.momentum.work.query.dto.response.WorkDTO">
        SELECT
            work.work_id,
            work.emp_id,
            emp.emp_no,
            emp.name AS empName,
            work.type_id,
            wt.type_name,
            work.vacation_type_id,
            vt.vacation_type AS vacationType,
            work.start_at,
            work.end_at,
            work.is_normal_work
        FROM work AS work
        JOIN employee AS emp ON work.emp_id = emp.emp_id
        JOIN work_type AS wt ON work.type_id = wt.type_id
        LEFT JOIN vacation_type AS vt ON work.vacation_type_id = vt.vacation_type_id
        WHERE work.emp_id = #{empId}
        <if test="request.rangeStartDate != null">
            AND work.start_at <![CDATA[ >= ]]> #{request.rangeStartDate}
        </if>
        <if test="request.rangeEndDate != null">
            AND work.start_at <![CDATA[ <= ]]> #{request.rangeEndDate}
        </if>
        ORDER BY work.start_at ASC;
    </select>

    <select id="getWorks" resultType="com.dao.momentum.work.query.dto.response.WorkDTO">
        SELECT
            work.work_id,
            work.emp_id,
            emp.emp_no,
            emp.name AS empName,
            work.type_id,
            wt.type_name,
            work.vacation_type_id,
            vt.vacation_type AS vacationType,
            work.start_at,
            work.end_at,
            work.is_normal_work
        FROM work AS work
        JOIN employee AS emp ON work.emp_id = emp.emp_id
        JOIN work_type AS wt ON work.type_id = wt.type_id
        LEFT JOIN vacation_type AS vt ON work.vacation_type_id = vt.vacation_type_id
        WHERE 1 = 1
        <if test="request.empNo != null and request.empNo != ''">
            AND emp.emp_no = #{request.empNo}
        </if>
        <if test="request.empName != null and request.empName != ''">
            AND emp.name = #{request.empName}
        </if>
        <if test="request.rangeStartDate != null">
            AND work.start_at <![CDATA[ >= ]]> #{request.rangeStartDate}
        </if>
        <if test="request.rangeEndDate != null">
            AND work.start_at <![CDATA[ <= ]]> #{request.rangeEndDate}
        </if>
        <if test="request.typeName != null and request.typeName != ''">
            AND wt.type_name = #{request.typeName}
        </if>
        <if test="request.order == null or request.order.name() != 'DESC'">
            ORDER BY work.start_at ASC
        </if>
        <if test="request.order != null and request.order.name() == 'DESC'">
            ORDER BY work.start_at DESC
        </if>
        LIMIT #{request.limit} OFFSET #{request.offset};
    </select>

    <select id="countWorks" resultType="java.lang.Long">
        SELECT
        COUNT(work.work_id)
        FROM work AS work
        JOIN employee AS emp ON work.emp_id = emp.emp_id
        JOIN work_type AS wt ON work.type_id = wt.type_id
        LEFT JOIN vacation_type AS vt ON work.vacation_type_id = vt.vacation_type_id
        WHERE 1 = 1
        <if test="request.empNo != null and request.empNo != ''">
            AND emp.emp_no = #{request.empNo}
        </if>
        <if test="request.empName != null and request.empName != ''">
            AND emp.name = #{request.empName}
        </if>
        <if test="request.rangeStartDate != null">
            AND work.start_at <![CDATA[ >= ]]> #{request.rangeStartDate}
        </if>
        <if test="request.rangeEndDate != null">
            AND work.start_at <![CDATA[ <= ]]> #{request.rangeEndDate}
        </if>
        <if test="request.typeName != null and request.typeName != ''">
            AND wt.type_name = #{request.typeName}
        </if>
        ;
    </select>

    <select id = "getWorkDetails" resultType = "com.dao.momentum.work.query.dto.response.WorkDetailsDTO">
        SELECT
            break_time,
            start_pushed_at,
            end_pushed_at,
            is_normal_work
        FROM work
        WHERE work_id = #{workId}
    </select>

    <select id="getMyTodaysAttendance" resultType="com.dao.momentum.work.query.dto.response.AttendanceDTO">
        SELECT
            'Y' AS isAttended,
            work.work_id,
            work.emp_id
        FROM work AS work
        WHERE work.emp_id = #{empId}
        AND work.start_at &gt;= #{today}
        AND work.start_at &lt; #{tomorrow}

        UNION ALL

        SELECT
            'N' AS isAttended,
            null AS workId,
            null AS empId
        FROM DUAL
        WHERE NOT EXISTS (
            SELECT 1
            FROM work
            WHERE emp_id = #{empId}
            AND work.start_at &gt;= #{today}
            AND work.start_at &lt; #{tomorrow}
        )
        LIMIT 1
    </select>
</mapper>
